body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: antiquewhite;
  margin: 0;
  padding: 40px;
  color: #3b2c2c;
}
header {
    background-color:lightyellow;
    padding: 10px;
    text-align: center;
    color:saddlebrown;
    font-size:18px;
    font-weight:bold;
    box-shadow: 0 2px 5px rgba(163, 41, 41, 0.1);
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
    text-align:right;
    font-size: 18px;
    font-weight:bold;
}
nav a {
    text-decoration: none;
    color: black;
}
.book-btn{
    background-color: darkred;
    color:navajowhite;
    padding:10px 15px;
    border-radius:10px;
    font-size:16px;
    font-weight: bold;
}
.gallery-section {
  text-align: center;
  padding: 20px;
}
.gallery-section h2 {
  font-size: 30px;
  /*margin-bottom: 10px;*/
  color: saddlebrown;
  text-align: center;
  margin-bottom: 5px;
}
.subtitle {
  text-align: center;
  font-size: 25px;
  margin-top:0;
  font-weight: bold;
  color:black
  /*margin-bottom: 25px;*/
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,auto);
  gap: 35px;
  max-width:1200px;
  margin:0 auto;
}

.gallery-item {
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  justify-content: space-around;
  grid-template-rows: repeat(2,auto);
  max-width: 1000px;
  margin:0 auto;
  margin-top:30px;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}